.inputItems{
    height: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    margin-top: 15px;

}
input{
    border: none;
    outline: none;
    box-shadow: none;
    border-color: transparent;
    margin-right: 20px;
    width: 57%;
    border-bottom: 1px solid black;
    
}
input::placeholder{
    text-align: center;
    font-size: x-large;
    
}
button{
    color: white;
    width: 10%;
    background-color: #0066ff;
    border: none;
    font-size: 18px;
}